<section>
    <div class="space-120 d-none d-xl-block"></div>
    <div class="space-50 d-none d-md-block d-xl-none"></div>
    <div class="space-80 d-md-none"></div>
    <div class="container">
        <div class="row attach-mg">
            <div class="col-sm text-center">
                <h1 class="Aquatico-Regular font-55 contact-title text-uppercase d-none d-xl-block wow slideInLeft">
                    How can we help you?
                </h1>
                <h1 class="Aquatico-Regular font-36 contact-title text-uppercase d-none d-md-block d-xl-none wow slideInLeft">
                    How can <br> we help you?
                </h1>
                <h1 class="Aquatico-Regular font-36 contact-title text-uppercase d-md-none wow slideInLeft">
                    How can <br> we help you?
                </h1>
                <div class="space-20"></div>
                <form class="wow slideInUp">
                    <div class="form-group">
                        <mat-form-field class="form-mat my-contact-field LinotteRegular font-18">
                            <input required matInput placeholder="Full Name">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="form-mat form-mat my-contact-field LinotteRegular font-18">
                            <input required matInput placeholder="Email">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="form-mat form-mat my-contact-field LinotteRegular font-18">
                            <input required matInput placeholder="Phone">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="form-mat form-mat my-contact-field LinotteRegular font-18">
                            <mat-select required placeholder="Choice">
                                <mat-option value="1">App Development</mat-option>
                                <mat-option value="2">Marketing</mat-option>
                                <mat-option value="3">Branding</mat-option>
                                <mat-option value="4">Web Development</mat-option>
                                <mat-option value="5">Web Design</mat-option>
                                <mat-option value="6">UX/UI Design</mat-option>
                                <mat-option value="7">SEO & SEMM</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="form-mat form-mat my-contact-field LinotteRegular font-18">
                            <input required matInput placeholder="Country">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-sm">
                                <h5 class="LinotteRegular contact-texts">
                                    Attach your file
                                </h5>
                            </div>
                            <div class="col-xl-4">
                                <button matTooltip="Upload a file with your ideas, goals, targets, proposals with requirements and we will get back to you!" aria-label="Button that displays a tooltip when focused or hovered over" class="btn-block contact-buttons" mat-raised-button color="primary">
                                  <mat-icon>cloud_upload</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="space-50"></div>
                    <div class="form-group text-center">
                        <button class="text-uppercase col-xl-2 LinotteRegular font-18 contact-buttons" mat-raised-button color="primary">
                            SEND
                         </button>
                    </div>
                </form>
            </div>
            <div class="col-sm text-center bg-mobile">
                <img matTooltip="3250 NE 1st Ave. Suite 305 Caracas, 33137. info@syftedesigns.com. +5804129986237" aria-label="Button that displays a tooltip when focused or hovered over" class="offset-xl-8 zone zone-position wow bounceIn" src="./assets/images/desktop/pointer.png"
                    alt="syfte_location">
            </div>
        </div>
    </div>
</section>