<div class="space-200 d-none d-xl-block"></div>
<div class="space-120 d-none d-md-block d-xl-none"></div>
<div class="container">
    <div class="container-fluid">
        <!-- Desktop -->
        <section class="text-center">
            <div class="space-80 d-md-none"></div>
            <div class="row">
                <div class="col-sm text-center offset-lg-5 d-none d-md-block">
                    <h1 class="LinotteRegular font-65 about-title text-uppercase wow slideInLeft">
                        What is syfte?
                    </h1>
                    <article class="wow slideInLeft">
                        <p class="LinotteLight font-20 text-color about-texts">
                            Syfte is a creative agency that arose due to the <strong>insufficiency and inexperience</strong> that customers had to keep a business afloat, it is very common that when creating a website that sells a product, or a virtual
                            store, it has few views so it is summarized as lost and soon as a failure. We know that this happens a lot, so we offer the ability and experience needed to <strong>unify everything in a single product and offer it to consumers in
                            a way that they can them succeed</strong>.
                        </p>
                    </article>
                </div>
                <!-- mobile -->
                <div class="col-sm text-center offset-lg-5 d-md-none">
                    <h1 class="LinotteRegular font-32 about-title text-uppercase wow slideInLeft">
                        What is syfte?
                    </h1>
                    <article class="wow slideInLeft">
                        <p class="LinotteLight font-16 text-color about-texts">
                            Syfte is a creative agency that arose due to the <strong>insufficiency and inexperience</strong> that customers had to keep a business afloat, it is very common that when creating a website that sells a product, or a virtual
                            store, it has few views so it is summarized as lost and soon as a failure. We know that this happens a lot, so we offer the ability and experience needed to <strong>unify everything in a single product and offer it to consumers in
                            a way that they can them succeed</strong>.
                        </p>
                    </article>
                </div>
                <!-- end mobile-->
            </div>
            <div class="space-200 d-none d-md-block"></div>
            <div class="space-100 d-none d-md-block"></div>
            <div class="space-60 d-md-none"></div>
            <div class="row">
                <div class="col-sm text-center offset-lg-1 d-none d-md-block">
                    <h1 class="LinotteRegular font-65 about-title text-uppercase wow slideInRight">
                        OUR MISSION
                    </h1>
                    <article class="wow slideInLeft">
                        <p class="LinotteLight font-20 text-color about-texts">
                            The goal of <strong>Syfte is to make your ideas and goals become true</strong>, help you create successful businesses through a work plan that we discuss with each client, each service we offer is a fundamental pillar that
                            we transform into <strong>optimal experience and combining it with marketing strategies</strong>, it translates into Smart Websites and Apps.
                        </p>
                    </article>
                </div>
                <div class="col-sm text-center offset-lg-1 d-md-none">
                    <h1 class="LinotteRegular font-32 about-title text-uppercase wow slideInRight">
                        OUR MISSION
                    </h1>
                    <article class="wow slideInLeft">
                        <p class="LinotteLight font-16 text-color about-texts">
                            The goal of <strong>Syfte is to make your ideas and goals become true</strong>, help you create successful businesses through a work plan that we discuss with each client, each service we offer is a fundamental pillar that
                            we transform into <strong>optimal experience and combining it with marketing strategies</strong>, it translates into Smart Websites and Apps.
                        </p>
                    </article>
                    <div class="space-50 d-md-none"></div>
                </div>
                <div class="col-sm text-left offset-lg-2 wow slideInRight">
                    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h1 class="text-center LinotteRegular about-texts">Carlos Estarita</h1>
                                <h5 class="text-center LinotteRegular about-texts">Founder & CEO</h5>
                                <div class="space-20"></div>
                                <img src="./assets/images/desktop/carlos.png" class="d-block w-100" alt="Marketing-CEO">
                            </div>
                            <div class="carousel-item">
                                <h1 class="text-center LinotteRegular about-texts">Maiky Sanchéz</h1>
                                <h5 class="text-center LinotteRegular about-texts">Co-founder & Vicepresident</h5>
                                <div class="space-20"></div>
                                <img src="./assets/images/desktop/maiky.png" class="d-block w-100" alt="Co-founder">
                            </div>
                            <div class="carousel-item">
                                <h1 class="text-center LinotteRegular about-texts">Pablo Vásquez</h1>
                                <h5 class="text-center LinotteRegular about-texts">Graphic Designer</h5>
                                <div class="space-20"></div>
                                <img src="./assets/images/desktop/pablo.png" class="d-block w-100" alt="Designer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-200 d-none d-md-block"></div>
            <div class="space-80 d-md-none"></div>
            <div class="row">
                <div class="col-sm text-center d-none d-md-block">
                    <h1 class="LinotteRegular font-65 about-title text-uppercase wow slideInRight">
                        What do <br> we do?
                    </h1>
                    <article class="wow slideInUp">
                        <p class="LinotteLight font-20 text-color about-texts">
                            <strong>In Syfte we combine all the tools into one to create solid foundations for each business</strong>, we start with meetings by zoom to explore the ideas of the clients and based on that we elaborate a <strong>plan of branding (brand) and visual design</strong>,
                            we them take it to <strong>web design, Smart systems and Apps if necessary or requested</strong>. These are the services we offer our consumers.
                        </p>
                    </article>
                </div>
                <div class="col-sm text-center d-md-none">
                    <h1 class="LinotteRegular font-32 about-title text-uppercase wow slideInRight">
                        What do <br> we do?
                    </h1>
                </div>
            </div>
            <div class="space-30"></div>
            <!-- desktop -->
            <section class="d-none d-xl-block">
                <div class="row">
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header style="position: relative; left: 5%;" class="offset-xl-1">
                                <h4 class="LinotteRegular about-title text-center font-22">
                                    Marketing Plan
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" alt="Marketing" title="Marketing Plan" src="./assets/images/desktop/about-ico/mark.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-xl-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-18">
                                    Marketing Automation
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center offset-1">
                                    <img class="w-25" alt="Marketing-automation" title="Marketing automation" src="./assets/images/desktop/about-ico/automation.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-xl-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    CRM & <br> Self Management
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" alt="CRM" title="CRM" src="./assets/images/desktop/about-ico/CRM.jpg" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="space-80"></div>
                <div class="row">
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header style="position: relative; left: 2%;" class="offset-xl-2">
                                <h4 class="LinotteRegular about-title text-center font-20">Landing Pages</h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" src="./assets/images/desktop/about-ico/web.png" title="Landing Pages" alt="Landing Pages">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-xl-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Visual identity
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" src="./assets/images/desktop/about-ico/visual.png" title="Visual identity" alt="identidad-visual">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-xl-3 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Online ads
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" src="./assets/images/desktop/about-ico/SEO.png" title="ads" alt="ads">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="space-80"></div>
                <div class="row">
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-xl-3">
                                <h4 class="LinotteRegular about-title text-center font-20">Branding</h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" src="./assets/images/desktop/about-ico/brand.png" title="Branding" alt="Branding">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-xl-2">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Apps Development
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" alt="Apps-development" title="Apps" src="./assets/images/desktop/about-ico/APP.jpg" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header style="position: relative; left: 3%;" class="offset-xl-1">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Monthly metrics
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-25" src="./assets/images/desktop/about-ico/analytics.png" title="ads" alt="ads-analytics">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </section>
            <!-- end desktop -->
            <!-- tablet -->
            <section class="d-none d-md-block d-xl-none">
                <div class="row">
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-1">
                                <h4 class="LinotteRegular about-title text-center font-22">
                                    Marketing Plan
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" alt="Marketing" title="Marketing Plan" src="./assets/images/desktop/about-ico/mark.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-18">
                                    Marketing Automation
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center offset-1">
                                    <img class="w-50 offset-md-4" alt="Marketing-automation" title="Marketing automation" src="./assets/images/desktop/about-ico/automation.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    CRM & <br> Self Management
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" alt="CRM" title="CRM" src="./assets/images/desktop/about-ico/CRM.jpg" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="space-50"></div>
                <div class="row">
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2">
                                <h4 class="LinotteRegular about-title text-center font-20">Landing Pages</h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" src="./assets/images/desktop/about-ico/web.png" title="Landing Pages" alt="Landing Pages">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Visual identity
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" src="./assets/images/desktop/about-ico/visual.png" title="Visual identity" alt="identidad-visual">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2 about-ico-mg">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Online ads
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" src="./assets/images/desktop/about-ico/SEO.png" title="ads" alt="ads">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="space-50"></div>
                <div class="row">
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2">
                                <h4 class="LinotteRegular about-title text-center font-20">Branding</h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" src="./assets/images/desktop/about-ico/brand.png" title="Branding" alt="Branding">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Apps Development
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" alt="Apps-development" title="Apps" src="./assets/images/desktop/about-ico/APP.jpg" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm text-center">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="offset-md-2">
                                <h4 class="LinotteRegular about-title text-center font-20">
                                    Monthly metrics
                                </h4>
                            </mat-card-header>
                            <div class="space-15"></div>
                            <mat-card-content>
                                <figure class="text-center">
                                    <img class="w-50 offset-md-4" src="./assets/images/desktop/about-ico/analytics.png" title="ads" alt="ads-analytics">
                                </figure>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </section>
            <!-- end tablet -->
            <!-- mobile -->
            <section class="d-md-none">
                <div class="row center-icos-320">
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Marketing <br> Plan
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark" alt="Marketing" title="Marketing Plan" src="./assets/images/desktop/about-ico/mark.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Marketing <br> Automation
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark offset-1" alt="Marketing-automation" title="Marketing-automation" src="./assets/images/desktop/about-ico/automation.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                </div>
                <div class="row center-icos-320">
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Visual <br> identity
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark" alt="identidad-visual" title="identidad-visual" src="./assets/images/desktop/about-ico/visual.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Online <br> Ads
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark offset-1" alt="ads" title="Online ads" src="./assets/images/desktop/about-ico/SEO.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                </div>
                <div class="row center-icos-320">
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    CRM & <br> Self Management
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark" alt="CRM" title="CRM" src="./assets/images/desktop/about-ico/CRM.jpg" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Landing <br> Pages
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark offset-1" alt="Landing-Pages" title="Landing Pages" src="./assets/images/desktop/about-ico/web.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                </div>
                <div class="row center-icos-320">
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Branding
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark" alt="Branding" title="Branding" src="./assets/images/desktop/about-ico/brand.png" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                    <div class="col">
                        <mat-card class="bg-card-dark">
                            <mat-card-header class="icos-header-320">
                                <h4 class="LinotteRegular about-title font-14 text-center">
                                    Apps <br> development
                                </h4>
                            </mat-card-header>
                            <mat-card-content>
                                <figure>
                                    <img class="img-thumbnail no-border bg-card-dark offset-1" alt="Apps-development" title="Aplicaciones móviles" src="./assets/images/desktop/about-ico/APP.jpg" />
                                </figure>
                            </mat-card-content>
                        </mat-card>
                        <div class="space-40"></div>
                    </div>
                </div>
            </section>
            <!-- end mobile -->
            <!-- CTA -->
            <div class="space-30"></div>
            <div class="row text-center">
                <div class="col-sm">
                    <button onclick="location.href = 'https://www.syftedesigns.com/campaign/services'" mat-raised-button class="btn-block LinotteRegular font-14 text-bold col-md-5 col-xl-4">
                        Explore more
                    </button>
                </div>
            </div>
            <!-- end CTA-->
        </section>
        <!-- End Desktop -->
    </div>
</div>