<div class="space-200 d-none d-xl-block"></div>
<div class="space-120 d-none d-md-block d-xl-none"></div>
<div class="container">
    <div class="container-fluid">
        <!-- desktop -->
        <section class="d-none d-xl-block">
            <div class="row">
                <div class="col-sm text-center">
                    <h1 class="Aquatico-Regular font-65 about-title text-uppercase wow slideInLeft">
                        What is syfte?
                    </h1>
                    <article class="wow slideInLeft">
                        <p class="LinotteLight font-20 text-color about-texts">
                            Syfte is a creative agency that arose due to the <strong>insufficiency and inexperience</strong> that customers had to keep a business afloat, it is very common that when creating a website that sells a product, or a virtual
                            store, it has few views so it is summarized as lost and soon as a failure. We know that this happens a lot, so we offer the ability and experience needed to <strong>unify everything in a single product and offer it to consumers in
                            a way that they can them succeed</strong>.
                        </p>
                    </article>
                </div>
                <div class="col-xl-6 wow bounceInRight">
                    <img class="machine" style="margin-top: -40%" src="./assets/images/desktop/maquina-03.png" alt="syfte_description_brand">
                </div>
            </div>
        </section>
        <!-- end desktop -->
        <!-- tablet -->
        <section class="d-none d-md-block d-xl-none ">
            <div class="row">
                <div class="col-md-5 text-center">
                    <h1 class="Aquatico-Regular font-36 about-title text-uppercase wow slideInLeft">
                        What is syfte?
                    </h1>
                    <div class="space-15"></div>
                    <article class="wow slideInLeft">
                        <p class="LinotteLight font-16 text-color about-texts">
                            Syfte is a creative agency that arose due to the <strong>insufficiency and inexperience</strong> that customers had to keep a business afloat, it is very common that when creating a website that sells a product, or a virtual
                            store, it has few views so it is summarized as lost and soon as a failure. We know that this happens a lot, so we offer the ability and experience needed to <strong>unify everything in a single product and offer it to consumers in
                            a way that they can them succeed</strong>.
                        </p>
                    </article>
                </div>
                <div class="col-sm">
                    <img class="d-none d-md-block d-lg-none about-machine wow bounceInRight" src="./assets/images/tablet/maquina-02.png" alt="syfte_description_brand">
                    <img style="margin-top: -25%" class="d-none d-lg-block d-xl-none about-machine wow bounceInRight" src="./assets/images/tablet/maquina-02.png" alt="syfte_description_brand">
                </div>
            </div>
        </section>
        <!-- end tablet -->
    </div>
</div>
<!-- slider -->
<section class="d-none d-xl-block hover-hidden">
    <div class="row">
        <div class="col-xl-12 wow bounceInUp">
            <img class="circle-yellow" src="./assets/images/desktop/Personajes-2-03.png" alt="syfte_slider">
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div (mouseleave)="DisplaySliderArrow = false;" (mouseover)="DisplaySliderArrow = true" class="carousel-item active">
                        <img src="./assets/images/desktop/carlos.png" class="d-block  img-slider" alt="syfte-ceo-thumbnail">
                        <div class="carousel-caption d-none d-md-block employ-slider">
                            <h1 class="font-45 Gotham-Book about-title">Carlos Estarita</h1>
                            <h5 class="font-18 Aquatico-Regular about-title">Founder & Project Manager</h5>
                        </div>
                    </div>
                    <div (mouseleave)="DisplaySliderArrow = false;" (mouseover)="DisplaySliderArrow = true" class="carousel-item">
                        <img src="./assets/images/desktop/maiky.png" class="d-block  img-slider" alt="syfte-vicepresident-thumbnail">
                        <div class="carousel-caption d-none d-md-block employ-slider">
                            <h1 class="font-45 Gotham-Book about-title">Maiky Sanchez</h1>
                            <h5 class="font-18 Aquatico-Regular about-title">Co-Founder & Sales Coordinator</h5>
                        </div>
                    </div>
                    <div (mouseleave)="DisplaySliderArrow = false;" (mouseover)="DisplaySliderArrow = true" class="carousel-item">
                        <img src="./assets/images/desktop/pablo.png" class="d-block  img-slider" alt="syfte-employer-thumbnail">
                        <div class="carousel-caption d-none d-md-block employ-slider">
                            <h1 class="font-45 Gotham-Book about-title">Pablo Vasquez</h1>
                            <h5 class="font-18 Aquatico-Regular about-title">Graphic Designer</h5>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <img *ngIf="!DisplaySliderArrow" class="w-50 arrow-slider" src="./assets/images/desktop/flecha-02.png" alt="arrow-slider">
                </a>
            </div>
        </div>
        <div class="col-sm text-center article-who">
            <div class="space-180"></div>
            <h1 class="Aquatico-Regular font-65 about-title text-uppercase wow slideInRight">
                OUR MISSION
            </h1>
            <article>
                <p class="LinotteLight font-20 text-color about-texts wow slideInRight">
                    The goal of <strong>Syfte is to make your ideas and goals become true</strong>, help you create successful businesses through a work plan that we discuss with each client, each service we offer is a fundamental pillar that we transform
                    into <strong>optimal experience and combining it with marketing strategies</strong>, it translates into Smart Websites and Apps.
                </p>
                <img style="margin-left: 65%; border:0px; background-color: #e5e4e3" class="img-thumbnail wow bounceInRight" src="./assets/images/desktop/personaje-03.png" alt="syfte_employer">
            </article>
        </div>
    </div>
</section>
<!-- end slider -->
<!-- slider tablet -->
<div class="space-80"></div>
<section class="d-none d-md-block d-xl-none hover-hidden">
    <div class="row">
        <div class="col-sm wow slideInLeft">
            <img style="margin-top: -0.6em; margin-left: 1em" src="./assets/images/tablet/personaje-2-02.png" alt="syfte_slider">
            <div id="carouselTablet" class="carousel slide carousel-fade slider-position" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/images/desktop/carlos.png" class="d-none d-md-block d-lg-none img-slider" alt="syfte-ceo-thumbnail">
                        <img src="./assets/images/desktop/carlos.png" class="d-none d-md-none d-lg-block d-xl-none img-slider" alt="syfte-ceo-thumbnail">
                        <div class="carousel-caption d-none d-md-block d-xl-none employ-slider">
                            <h1 class="font-25 Gotham-Book about-title">Carlos Estarita</h1>
                            <h5 class="font-18 LinotteRegular about-title">CEO & Project Manager</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/images/desktop/maiky.png" class="d-none d-md-block d-lg-none img-slider" alt="syfte-vicepresident-thumbnail">
                        <img src="./assets/images/desktop/maiky.png" class="d-none d-md-none d-lg-block d-xl-none img-slider" alt="syfte-vicepresident-thumbnail">
                        <div class="carousel-caption d-none d-md-block d-xl-none employ-slider">
                            <h1 class="font-25 Gotham-Book about-title">Maiky Sanchez</h1>
                            <h5 class="font-18 LinotteRegular about-title">Vicepresident</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/images/desktop/pablo.png" class="d-none d-md-block d-lg-none img-slider" alt="syfte-employer-thumbnail">
                        <img src="./assets/images/desktop/pablo.png" class="d-none d-md-none d-lg-block d-xl-none img-slider" alt="syfte-employer-thumbnail">
                        <div class="carousel-caption d-none d-md-block d-xl-none employ-slider">
                            <h1 class="font-25 Gotham-Book about-title">Pablo Vasquez</h1>
                            <h5 class="font-18 LinotteRegular about-title">Graphic Designer</h5>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselTablet" role="button" data-slide="prev">
                    <img class="arrow-tablet" src="./assets/images/tablet/flecha-02.png" alt="arrow-slider">
                </a>
            </div>
        </div>
        <div style="position: relative; left: -1em;" class="col-sm text-center">
            <div class="space-50"></div>
            <h1 class="Aquatico-Regular font-36 about-title text-uppercase wow slideInRight">
                OUR MISSION
            </h1>
            <div class="space-15"></div>
            <article class="wow slideInRight">
                <p class="LinotteLight font-14 text-color about-texts">
                    The goal of <strong>Syfte is to make your ideas and goals become true</strong>, help you create successful businesses through a work plan that we discuss with each client, each service we offer is a fundamental pillar that we transform
                    into <strong>optimal experience and combining it with marketing strategies</strong>, it translates into Smart Websites and Apps.
                </p>
                <div class="space-50"></div>
                <div class="col-sm text-center">
                    <img class="offset-md-2 offset-lg-4 wow bounceInRight" src="./assets/images/tablet/employer.png" alt="syfte_employer">
                </div>
            </article>
        </div>
    </div>
    <!-- what we do tablet -->
    <section style="margin-top: -10em">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 text-center">
                    <h1 class="Aquatico-Regular font-36 about-title text-uppercase wow slideInLeft">
                        What do <br> we do?
                    </h1>
                    <div class="space-10"></div>
                    <article class="text-center wow slideInLeft">
                        <p class="LinotteLight font-16 text-color about-texts">
                            <strong>In Syfte we combine all the tools into one to create solid foundations for each business</strong>, we start with meetings by zoom to explore the ideas of the clients and based on that we elaborate a <strong>plan of branding (brand) and visual design</strong>,
                            we them take it to <strong>web design, Smart systems and Apps if necessary or requested</strong>. These are the services we offer our consumers.
                        </p>
                    </article>
                </div>
            </div>
            <!-- services -->
            <div class="space-80"></div>
            <div class="row hover-hidden">
                <div class="col-sm">
                    <img class="about-tablet-dispositives wow slideInLeft" src="./assets/images/tablet/herramientas-02.png" alt="syfte_dispositives">
                </div>
                <div style="border-left: 2px solid #cbcac9" class="col-sm text-center offset-md-1 wow slideInRight">
                    <div class="space-50"></div>
                    <ul class="tablet-list">
                        <li>Marketing</li>
                        <li>UX/UI Design</li>
                        <li>Backend</li>
                        <li>App Development</li>
                        <li>Web Design</li>
                        <li>Visual Design</li>
                        <li>Adword & SEO</li>
                        <li>Branding</li>
                    </ul>
                </div>
            </div>
            <!-- end services -->
        </div>
    </section>
    <!-- end what we do tablet -->
</section>
<!-- end slider tablet -->
<!-- services case -->
<div class="space-40"></div>
<div class="container d-none d-xl-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5 text-center">
                <img class="bg-dispositives wow bounceInUp" src="./assets/images/desktop/Herramientas-03.png" alt="syfte_services">
            </div>
            <div class="col-sm text-center offset-xl-2 we-do">
                <h1 class="Aquatico-Regular font-65 about-title text-uppercase wow slideInRight">
                    What do <br> we do?
                </h1>
                <article>
                    <p class="LinotteLight font-20 text-color about-texts wow slideInRight">
                        <strong>In Syfte we combine all the tools into one to create solid foundations for each business</strong>, we start with meetings by zoom to explore the ideas of the clients and based on that we elaborate a <strong>plan of branding (brand) and visual design</strong>,
                        we them take it to <strong>web design, Smart systems and Apps if necessary or requested</strong>. These are the services we offer our consumers.
                    </p>
                </article>
                <div class="space-50"></div>
                <div style="border-left: 2px solid #cbcac9" class="row wow slideInUp">
                    <div class="col-sm text-center">
                        <ul class="services-list">
                            <li>Marketing</li>
                            <li>UX/UI Design</li>
                            <li>Backend</li>
                            <li>App Development</li>
                            <li>Web Design</li>
                            <li>Visual Design</li>
                            <li>Adword & SEO</li>
                            <li>Branding</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end services case -->
<!-- mobile -->
<section class="d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="Aquatico-Regular font-45 about-title text-uppercase wow slideInLeft">
                    What is <br>syfte?
                </h1>
                <div class="space-10"></div>
                <article>
                    <p class="LinotteLight font-20 text-color about-texts wow slideInLeft">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                        sem.
                    </p>
                    <div class="space-10"></div>
                    <img class="wow slideInLeft" src="./assets/images/mobile/mobile-employer.png" alt="syfte_employer">
                </article>
            </div>
            <div class="col-12 text-center">
                <div class="space-20"></div>
                <h1 class="Aquatico-Regular font-45 about-title text-uppercase wow slideInUp">
                    Our Mission
                </h1>
                <div class="space-10"></div>
                <article class="wow slideInUp">
                    <p class="LinotteLight font-20 text-color about-texts">
                        The goal of <strong>Syfte is to make your ideas and goals become true</strong>, help you create successful businesses through a work plan that we discuss with each client, each service we offer is a fundamental pillar that we transform
                        into <strong>optimal experience and combining it with marketing strategies</strong>, it translates into Smart Websites and Apps.
                    </p>
                </article>
            </div>
        </div>
        <!-- slider -->
        <div class="space-40"></div>
        <div style="margin-left: 0.5em" class="row">
            <div class="col text-center hover-hidden wow slideInUp">
                <img class="circle-slider" src="./assets/images/mobile/personaje-2-02.png" alt="syfte_slider_circle">
                <div id="carouselMobile" class="carousel slide carousel-fade slider-position" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./assets/images/desktop/carlos.png" class="d-block img-slider" alt="syfte-ceo-thumbnail">
                            <div class="carousel-caption d-md-none slider-label">
                                <h1 class="font-25 Gotham-Book about-title">Carlos Estarita</h1>
                                <h5 class="font-18 LinotteRegular about-title">CEO & Project Manager</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/images/desktop/maiky.png" class="d-block img-slider" alt="syfte-vice-thumbnail">
                            <div class="carousel-caption d-md-none slider-label">
                                <h1 class="font-25 Gotham-Book about-title">Maiky Sanchez</h1>
                                <h5 class="font-18 LinotteRegular about-title">Co-Founder</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/images/desktop/pablo.png" class="d-block img-slider" alt="syfte-employer-thumbnail">
                            <div class="carousel-caption d-md-none slider-label">
                                <h1 class="font-25 Gotham-Book about-title">Pablo Vasquez</h1>
                                <h5 class="font-18 LinotteRegular about-title">Graphic Designer</h5>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselMobile" role="button" data-slide="prev">
                        <img src="./assets/images/mobile/flecha-02.png" alt="arrow-slider">
                    </a>
                </div>
            </div>
        </div>
        <!-- end slider -->
        <!-- we do -->
        <div style="margin-top: -20%" class="row">
            <div class="col text-center">
                <h1 class="Aquatico-Regular font-45 about-title text-uppercase wow slideInUp">
                    What do <br> we do?
                </h1>
                <div class="space-30"></div>
                <article>
                    <p class="LinotteLight font-20 text-color about-texts wow slideInUp">
                        <strong>In Syfte we combine all the tools into one to create solid foundations for each business</strong>, we start with meetings by zoom to explore the ideas of the clients and based on that we elaborate a <strong>plan of branding (brand) and visual design</strong>,
                        we them take it to <strong>web design, Smart systems and Apps if necessary or requested</strong>. These are the services we offer our consumers.
                    </p>
                    <div class="space-40"></div>
                    <ul class="services-list services-mg WOW slideInUp">
                        <li>Marketing</li>
                        <li>UX/UI Design</li>
                        <li>Backend</li>
                        <li>App Development</li>
                        <li>Web Design</li>
                        <li>Visual Design</li>
                        <li>Adword & SEO</li>
                        <li>Branding</li>
                    </ul>
                    <img class="wow slideInUp" src="./assets/images/mobile/herramientas-02.png" alt="syfte_mobile_dispositives">
                </article>
            </div>
        </div>
        <!-- end we do-->
    </div>
</section>
<!-- end mobile -->
<div class="space-150 d-none d-md-block"></div>