<div class="space-50"></div>
<section>
    <div class="row">
        <div class="col-sm text-center">
            <h1>Condiciones del servicio</h1>
            <div class="col-sm-6 text-center offset-md-3">
                <div class="space-15"></div>
                <article class="text-justify">
                    <p>
                        Te damos la bienvenida a Syfte Designs!
                    </p>
                    <p>
                        Syfte desarrolla tecnologías y servicios que permiten a las personas promocionar su negocio de forma automatizada y logren conseguir sus objetivos. Estas condiciones rigen el uso de nuestra plataforma totalmente gratuita.
                    </p>
                    <p>
                        No cobramos por reunirte con nosotros en primer lugar para discutir acerca de tu problema. Por el contrario, podrás programar una reunión con nosotros de forma gratuita donde tendrás una ayuda especializada. Al utilizar nuestra plataforma de contacto
                        estás de acuerdo con nuestra Política de Cookies. Donde utilizamos tus datos para enviarte anuncios de forma personalizada. Tus datos estarán protegidos y resguardado en nuestras bases de datos.
                    </p>
                    <p>
                        No vendemos ni utilizamos tus datos para fines comerciales, excepto cuando tenemos tu autorización para poder promocionar tu proyecto en nuestros portafolios de trabajo y anuncios similares.
                    </p>
                    <p>
                        Al interactuar con Syfte Designs, estarás aceptando nuestras políticas de Cookies que se encarga de monitorear tu ubicación, intereses, comportamientos y en base a eso enviarte anuncios de forma personalizada.
                    </p>
                </article>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            <h1>Uso del sistema de citas</h1>
            <div class="col-sm-6 text-center offset-md-3">
                <div class="space-15"></div>
                <article class="text-justify">
                    <p>
                        Nuestra consultoría es totalmente gratuita única vez, en caso de querer contactarnos, puedes programar una cita en nuestro calendario virtual y proporcionarnos tus datos de contacto. No utilizaremos estos datos para fines comerciales, solo para que nuestro
                        especialista pueda contactarte. Podrás cancelar o reprogramar la fecha de la reunión siempre que desees. En caso de no asistir sin previo aviso, tendrás que cancelar una penalización de 9 USD, para volver a solicitar una cita con
                        nuestro consultor.
                    </p>
                </article>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            <h1>Cómo se pagan nuestros servicios</h1>
            <div class="col-sm-6 text-center offset-md-3">
                <div class="space-15"></div>
                <article class="text-justify">
                    <p>
                        Manejamos planes únicos para nuestros servicios de publicidad y es un pago único por el monto total. En caso de solicitar nuestros servicios de desarrollo se cancela el 50% de la cuota inicial para costos de desarrollo y el restante una vez el proyecto
                        ha sido finalizado. El proyecto no será entregado hasta que el monto total no haya sido cancelado. En nuestros servicios de publicidad la inversión publicitaria la maneja el cliente y no nosotros.
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>