<!-- Desktop -->
<section class="pt-4 pt-md-11 d-none d-xl-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2 wow slideInRight">
                <img src="./assets/campaign/pages/1920/marketing-specialist.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="Online marketing for business">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 wow slideInLeft">
                <h1 class="display-3 text-center text-md-left text-white Aquatico-Regular font-30">
                    Marketing solutions
                </h1>
                <p class="text-center text-md-left  mb-6 mb-lg-8 Aquatico-Regular text-white font-16">
                    Multiply the sales traffic to your business with successful marketing campaigns
                </p>
                <div class="text-center text-md-left">
                    <form ngNativeValidate (ngSubmit)="PrecreatedEmail(campaignForm);" #campaignForm="ngForm">
                        <div class="form-row">
                            <div class="col-sm">
                                <input ngModel required name="email" type="email" class="form-control LinotteRegular" placeholder="Enter your email address">
                            </div>
                            <div class="col-sm">
                                <button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial" type="submit">
                                    Start campaign now!
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="space-30"></div>
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <p class="text-white LinotteLight font-14 font-weight-light">
                                Get in touch with us, we will not ask for any kind of confidential information. When entering your data you agree to receive marketing emails from syfte.
                            </p>
                        </div>
                    </div>
                    <!-- divider -->
                    <div class="space-15"></div>
                    <section class="offset-xl-1" style="border-top: 2px solid white; width: 80%"></section>
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="row">
            <div class="col-sm">
                <div class="row wow slideInUp">
                    <div class="col-sm">
                        <img style="width: 150%; margin-top: -50%" class="offset-xl-1" src="./assets/campaign/pages/1920/marketing-specialist2.png" alt="digital marketing for campaigns">
                    </div>
                    <div class="col-sm">
                        <img class="w-75 offset-5" src="./assets/campaign/pages/1920/repeticiones-03.png" alt="marketing logistic">
                    </div>
                </div>
            </div>
            <div class="col-sm text-center offset-xl-2 wow slideInUp">
                <div class="space-100"></div>
                <h1 style="font-size: 22px" class="text-white Aquatico-Regular">
                    Start now to increase <br> your sales opportunities.
                </h1>
                <p class="text-white LinotteLight font-16 font-weight-light">
                    For true results, define why your brand stands for, its core values and tone of voice and then communicate consistently in those terms.
                </p>
            </div>
        </div>
        <!-- end row 2 -->
        <!-- divider trial -->
        <div class="space-15"></div>
        <div class="row wow fadeIn">
            <div class="col-sm text-center offset-xl-3">
                <section class="w-75" style="border-top: 2px solid white;"></section>
            </div>
        </div>
        <div class="space-50"></div>
        <div class="row">
            <div class="col-sm text-center offset-xl-5 wow slideInUp">
                <button (click)="OpenTrial();" style="position: relative; left: -0.5em;" mat-raised-button color="primary" class="btn-block col-5 LinotteRegular btn-trial" type="button">
                            Start campaign now!
                </button>
            </div>
        </div>
        <!-- end divider -->
        <!-- services -->
        <div class="space-50"></div>
        <div class="row offset-1 wow slideInUp">
            <div class="col-lg-4 col-sm-6">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            language
                        </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Global Campaigns
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We position your business in the search engines through an exhaustive study of keywords, evaluate the main competencies and create a successful work model trough remarketing campaigns.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-4 col-sm-6">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                                laptop_chromebook
                        </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Organic Campaigns
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We expand the organic positioning in the search engines through the optimization of SEO and SEM, the creation of landings pages, apps, blogs, digital videos, structured data, Sitemaps, robots and Google maps. Trying to build all the possible links and
                            associate them with Google and Bing tools.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-4 col-sm-6">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            share
                        </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Social Networks
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We create a campaign aimed at social networks through a visual identity manual in which we will describe how to manage quality content, guidelines to be followed and how to segment the campaign to different needs from traffic to the website to how to
                            obtain potential customers.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
        <!-- end services -->
    </div>
    <div class="space-200"></div>
    <!-- / .container -->
</section>
<!-- end desktop -->
<!-- tablets -->
<section class="pt-4 pt-md-11 d-none d-md-block d-xl-none">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <img style="position: relative; left: 0.5em;" src="./assets/campaign/pages/768/logo-03.png" alt="Syfte designs brand logo">
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center">
                <h1 class="display-3 text-center  text-white Aquatico-Regular font-45">
                    Marketing solutions
                </h1>
                <p class="text-center mb-6 mb-lg-8 Aquatico-Regular text-white font-16">
                    Multiply the sales traffic to your business with successful marketing campaigns
                </p>
            </div>
        </div>
        <div class="row offset-md-3 offset-lg-4 form-mg">
            <form ngNativeValidate (ngSubmit)="PrecreatedEmail(campaignFormTablet);" #campaignFormTablet="ngForm">
                <div class="form-row">
                    <div class="col-sm text-center">
                        <input ngModel required name="email" type="email" class="form-control LinotteRegular" placeholder="Email address">
                    </div>
                    <div class="col-sm">
                        <button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial" type="submit">
                                    Start campaign now!
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="space-30"></div>
        <div class="row">
            <div class="col text-center ">
                <p class="text-white LinotteLight font-14 font-weight-light">
                    Get in touch with us, we will not ask for any kind of confidential information. When entering your data you agree to receive marketing emails from syfte.
                </p>
            </div>
        </div>
        <!-- divider -->
        <div class="space-15"></div>
        <section class="offset-md-1 offset-lg-2 border-mg" style="border-top: 2px solid white; width: 80%;"></section>
        <div class="space-80"></div>
        <div class="col-12 col-md-7 col-lg-6 order-md-1">
            <h1 style="font-size: 22px" class="display-3 text-center text-md-left text-white Aquatico-Regular font-24">
                Start now to increase <br> your sales opportunities.
            </h1>
            <p style="font-weight: lighter" class="text-center text-md-left  mb-6 mb-lg-8 LinotteRegular text-white font-16">
                For true results, define why your brand stands for, its core values and tone of voice and then communicate consistently in those terms.
            </p>
        </div>
        <div class="space-40"></div>
        <div class="row">
            <div class="col-sm text-left">
                <img style="margin-top: -20%" src="./assets/campaign/pages/768/marketing-specialist.png" alt="Online marketing for business">
            </div>
            <div class="col-sm d-none d-lg-block">
                <img class="img-thumbnail globe" src="./assets/campaign/pages/768/marketing-logistic.png" alt="Marketing solution with logistics">
            </div>
            <div class="col-sm d-none d-md-block d-lg-none">
                <img class="img-thumbnail globe" src="./assets/campaign/pages/480/marketing-logistic.png" alt="Marketing solution with logistics">
            </div>
        </div>
        <div class="space-50"></div>
        <section class="offset-md-1 offset-lg-2 border-mg" style="border-top: 2px solid white; width: 80%;"></section>
        <div class="space-30"></div>
        <div class="col-md-7 col-lg-9 text-center offset-md-4 offset-lg-3 row-btn-mg">
            <button (click)="OpenTrial();" mat-raised-button color="primary" class="btn-block col-5 LinotteRegular btn-trial btn-trial-mg" type="button">
                        Start campaign now!
            </button>
        </div>
        <!-- services -->
        <div class="space-70"></div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            language
                        </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Global Campaigns
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We position your business in the search engines through an exhaustive study of keywords, evaluate the main competencies and create a successful work model trough remarketing campaigns. Impress with these beautiful landing pages.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4 col-lg-4">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            laptop_chromebook
                        </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Organic Campaigns
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We expand the organic positioning in the search engines through the optimization of SEO and SEM, the creation of landings pages, apps, blogs, digital videos, structured data, Sitemaps, robots and Google maps. Trying to build all the possible links and
                            associate them with Google and Bing tools.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4 col-lg-4">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            share
                        </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Social Networks
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We create a campaign aimed at social networks through a visual identity manual in which we will describe how to manage quality content, guidelines to be followed and how to segment the campaign to different needs from traffic to the website to how to
                            obtain potential customers.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="space-40 d-md-none d-lg-block"></div>
    <div class="space-100 d-lg-none"></div>
</section>
<!-- end tablets -->
<!-- mobile -->
<section class="pt-4 pt-md-11 d-md-none">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="./assets/campaign/pages/480/logo-03.png" alt="Syfte designs brand logo">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h1 class="display-3 text-center  text-white Aquatico-Regular font-30">
                    Marketing solutions
                </h1>
                <p class="text-center mb-6 mb-lg-8 LinotteLight text-white font-20">
                    Multiply the sales traffic to your business with successful marketing campaigns.
                </p>
            </div>
        </div>
        <!-- form mobile -->
        <div class="row">
            <form ngNativeValidate (ngSubmit)="PrecreatedEmail(campaignFormResponsive);" #campaignFormResponsive="ngForm" class="form-px-mg">
                <div class="col-sm text-center">
                    <mat-form-field class="col-12 form-w" appearance="outline">
                        <mat-label class="LinotteRegular text-white font-20 text-center">Email address</mat-label>
                        <input required name="email" ngModel type="email" class="text-white LinotteRegular" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm text-center">
                    <button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial btn-trial-mg" type="submit">
                                Start campaign now!
                    </button>
                </div>
            </form>
        </div>
        <!-- end form mobile -->
        <div class="space-80"></div>
        <div class="row">
            <div class="col-12">
                <p class="text-white LinotteRegular font-14 text-center">
                    Get in touch with us, we will not ask for any kind of confidential information. When entering your data you agree to receive marketing emails from syfte.
                </p>
            </div>
        </div>
        <div class="space-30"></div>
        <div class="row">
            <div class="col text-center">
                <img class="img-specialist specialist-mg" src="./assets/campaign/pages/480/marketing-specialist.png" alt="Online marketing solutions">
            </div>
        </div>
        <div class="space-20"></div>
        <div class="row">
            <div class="col text-center">
                <h1 style="font-size: 22px" class="display-3 text-center  text-white Aquatico-Regular font-32">
                    Start now to increase <br> your sales opportunities.
                </h1>
                <p style="font-weight: lighter" class="text-center   mb-6 mb-lg-8 LinotteRegular text-white font-16">
                    For true results, define why your brand stands for, its core values and tone of voice and then communicate consistently in those terms.
                </p>
            </div>
        </div>
        <div class="space-15"></div>
        <div class="row">
            <div class="col text-center">
                <section class="offset-1" style="border-top: 2px solid white; width: 80%; position: relative; left: 0.3em;"></section>
            </div>
            <div class="space-20"></div>
            <div style="position: relative; left: 0.7em;" class="col-sm text-center offset-1">
                <button (click)="OpenTrial();" mat-raised-button color="primary" class="btn-block col-10 LinotteRegular btn-trial btn-trial-mg" type="button">
                            Start campaign now!
                </button>
            </div>
        </div>
        <!-- services -->
        <div class="space-50"></div>
        <div class="col">
            <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                <div class="px-4 py-5 text-center">
                    <i class="material-icons font-60 text-white">
                        language
                    </i>
                </div>
                <div class="px-4 pb-5 text-center">
                    <mat-card-title class="text-white LinotteRegular">
                        Global Campaigns
                    </mat-card-title>
                    <mat-card-content class="text-white LinotteLight">
                        We position your business in the search engines through an exhaustive study of keywords, evaluate the main competencies and create a successful work model trough remarketing campaigns. Impress with these beautiful landing pages. Impress with these beautiful
                        landing pages.
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div class="space-30"></div>
        <div class="col">
            <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                <div class="px-4 py-5 text-center">
                    <i class="material-icons font-60 text-white">
                        laptop_chromebook       
                    </i>
                </div>
                <div class="px-4 pb-5 text-center">
                    <mat-card-title class="text-white LinotteRegular">
                        Organic Campaigns
                    </mat-card-title>
                    <mat-card-content class="text-white LinotteLight">
                        We expand the organic positioning in the search engines through the optimization of SEO and SEM, the creation of landings pages, apps, blogs, digital videos, structured data, Sitemaps, robots and Google maps. Trying to build all the possible links and
                        associate them with Google and Bing tools.
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div class="space-30"></div>
        <div class="col">
            <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                <div class="px-4 py-5 text-center">
                    <i class="material-icons font-60 text-white">
                        share
                    </i>
                </div>
                <div class="px-4 pb-5 text-center">
                    <mat-card-title class="text-white LinotteRegular">
                        Social Networks
                    </mat-card-title>
                    <mat-card-content class="text-white LinotteLight">
                        We create a campaign aimed at social networks through a visual identity manual in which we will describe how to manage quality content, guidelines to be followed and how to segment the campaign to different needs from traffic to the website to how to
                        obtain potential customers.
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <!-- end services -->
    </div>
    <div class="space-100"></div>
</section>
<!-- end mobile -->