<!-- desktop container -->
<div class="space-80"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <h1 class="Aquatico-Regular font-50 about-title text-uppercase wow slideInLeft">
                    Our Cases
                </h1>
                <div class="space-20"></div>
                <article class="col-xl-10">
                    <p class="LinotteLight font-20 text-color about-texts offset-xl-2">
                        in <strong>Syfte we prepare a unique plan for each client</strong>, no one thinks the same as another, we know that and that&#39;s why we dedicate ourselves exclusively to each <strong>client and our cases show it</strong>.
                    </p>
                </article>
            </div>
        </div>
        <!-- cards -->
        <div class="space-80"></div>
        <div class="row">
            <div class="col-sm text-center">
                <div class="row">
                    <div class="col-sm">
                        <mat-card>
                            <div class="space-50"></div>
                            <mat-card-title class="Aquatico-Regular">
                                Coming soon
                            </mat-card-title>
                            <div class="space-10"></div>
                            <mat-card-content>
                                <p class="LinotteLight font-14">
                                    We are currently working on this to show you the best content possible
                                </p>
                            </mat-card-content>
                            <div class="space-50"></div>
                        </mat-card>
                    </div>
                    <div class="col-sm">
                        <mat-card class="bg-dark">
                            <div class="space-50"></div>
                            <mat-card-title class="Aquatico-Regular text-white">
                                Coming Soon
                            </mat-card-title>
                            <div class="space-10"></div>
                            <mat-card-content>
                                <p class="LinotteLight font-14 text-white">
                                    We are currently working on this to show you the best content possible
                                </p>
                            </mat-card-content>
                            <div class="space-50"></div>
                        </mat-card>
                    </div>
                    <div class="col-sm">
                        <mat-card class="bg-dark">
                            <div class="space-50"></div>
                            <mat-card-title class="Aquatico-Regular text-white">
                                Coming Soon
                            </mat-card-title>
                            <div class="space-10"></div>
                            <mat-card-content>
                                <p class="LinotteLight font-14 text-white">
                                    We are currently working on this to show you the best content possible
                                </p>
                            </mat-card-content>
                            <div class="space-50"></div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <!-- end cards -->
    </div>
</section>
<!-- end desktop -->